* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
}

.sidder {
    width: 10%;
    height: 100%;
    background-color: rgb(140, 151, 203);
}
.sidder > div{
    display: inline-block;
    margin: 0;
}
.toolbar{
    border: 1px solid black;
}
.fileview{
    border: 1px solid black;
}